<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//sqlmap.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.polaris.common.mapper.UserMapper">
    <resultMap id="userResult" type="User">
        <result column="id" property="id"/>
        <result column="photo" property="photo"/>
        <result column="mobile" property="mobile"/>
        <result column="qq" property="qq"/>
        <result column="login_time" property="loginTime"/>
        <result column="user_name" property="userName"/>
        <result column="pass_word" property="password"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="queryUser" parameterType="map" resultMap="userResult">
        select *
        from user where user_name=#{userName} and pass_word=#{password} limit 1
    </select>
    <insert id="insert" parameterType="User">
        insert into user
        (user_name,pass_word,photo,mobile,qq,login_time,create_time,update_time)
        values
        (#{userName},#{password},#{photo},#{mobile},#{qq},#{loginTime},#{createTime},#{updateTime})
    </insert>
</mapper>
